
.entryRow{
    display: flex;
}

.color_even{
    background-color: #F0F8FF;
}

.color_odd{
    background-color: rgba(74, 149, 170, 0.50);
}

.entryCost{
width: 30%;
display: flex;
justify-content: center;
}

.entryShop{
width: 30%;
display: flex;
justify-content: center;
}

.entryDate{
width: 30%;
display: flex;
justify-content: center;
}